{% extends 'base.html' %}
{% load static %}

{% block body %}
    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static '/css/Legal/licenta-reproducere.css' %}">

    <!-- Page Content -->
    <body class = {{theme}}>
    
        <div class = "section">
            <div class = "main-text">
                
                <div class = "section">

                    <div class = "row">
                        <div class = "col-12">
                            <p>Asociatia pentru Drepturile Producatorilor de Fonograme din Romania – ADPFR este persoana juridica romana de drept privat, fara scop patrimonial, creata prin vointa asociatilor, pe o durata nedeterminata, constituita in conformitate cu prevederile <a href = "https://legislatie.just.ro/Public/RezultateCautare?titlu=OG+26%2f2000" target = "_blank">OG nr.26/2000</a>, functionand ca organism de gestiune colectiva a drepturilor patrimoniale conexe dreptului de autor detinute de producatori (persoane fizice, persoane juridice, persoane fizice autorizate, alte forme de organizare prevazute de normele in vigoare) de fonograme sau videograme, in conditiile <a href = "https://legislatie.just.ro/Public/DetaliiDocument/7816" target = "_blank">Legii nr.8/1996</a>, cu modificarile si completarile ulterioare, republicata.</p>

                            <p>ADPFR este înfiintata prin <a href = "{% static 'assets/other/documents/AboutUs/2006 - INCHEIERE 60_24.03.2006.pdf' %}" target = "_blank">sentinta civila nr.60/2006</a> pronuntata de catre Judecatoria Sectorului 3 Bucuresti si inregistrata în Registrul Asociatiilor si Fundatiilor sub nr.1979/A/2006, CIF RO18667695, pentru a apara interesele membrilor sai si a gestiona drepturile acestora în baza mandatului acordat.</p>

                            <p>ADPFR functioneaza ca organism de gestiune colectiva conform <a href = "{% static 'assets/other/documents/AboutUs/orda206.pdf' %}" target = "_blank">ORDA nr. 206/30.06.2006</a>, publicata în Monitorul Oficial nr. 589/07.07.2006.</p><br>
                            
                            <p>ADPFR, in calitatea sa de organism de gestiune colectiva, are ca obiect principal de activitate:<br>
                            a. gestionarea colectiva a drepturilor patrimoniale conexe apartinand producatorilor de fonograme si producatorilor de videograme, romani si straini<br>
                            b. colectarea, repartizarea si plata sumelor cuvenite producatorilor de fonograme si producatorilor de videograme, provenite din remuneratiile platite pentru exploatarea drepturilor gestionate<br>
                            c. reprezentarea, promovarea, protejarea drepturilor si intereselor membrilor sai<br></p>

                            <p>ADPFR este desemnat de Oficiul Român pentru Drepturile de Autor colector al remuneratiilor pentru reproducerea fonogramelor publicate in scop comercial, destinate exclusiv comunicarii publice in scop ambiental si lucrativ, pentru utilizarea repertoriului gestionat (membrii proprii), prin <a href = "{% static 'assets/other/documents/Legal/orda331.pdf' %}" target = "_blank">Decizia ORDA nr.331/2007</a> publicata in M.Of. nr. 382/06.06.2007</p>
                        </div>
                    </div>
                
                </div>
            
            </div>
        </div>
    
    </body>
{% endblock %}