{% extends 'base.html' %}
{% load static %}

{% block body %}
    <link rel = "stylesheet" href = "{% static 'css/Legal/licenta-reproducere.css' %}"/>

    <body class = "{{ theme }}">
         <div class = "section">
            <div class = "main-text">
                
                <div class = "section">
                    <div class = "row">
                        <div class = "col-12">
                            <p>ADPFR este desemnat de Oficiul Roman pentru Drepturile de Autor colector  al remuneratiilor pentru reproducerea fonogramelor publicate in scop comercial, destinate exclusiv comunicarii publice in scop ambiental si lucrativ, pentru utilizarea repertoriului gestionat (membrii proprii), prin <a href = "{% static 'assets/other/documents/Legal/orda331.pdf' %}" target = "_blank">Decizia ORDA nr.331/2007</a> publicata in M.Of. nr. 382/06.06.2007</p>

                            <p>In conformitate cu prevederile Deciziei Directorului General ORDA nr.331/2007 publicata in M.Of. nr. 382/06.06.2007 si a <a href = "{% static 'assets/other/documents/Legal/2007 - Decizia ORDA 192_2007 - metodologie reproducere in vederea comunicarii publice.doc' %}">Deciziei ORDA nr.192/2007</a> publicata in Monitorul Oficial, Partea I nr. 382/06.06.2007 privind reproducerea fonogramelor publicate in scop comercial, destinate exclusiv comunicarii publice in scop ambiental ÅŸi lucrativ, pentru utilizarea legala a repertoriului gestionat de acest organism de gestiune colectiva, <strong>ADPFR acorda licente neexclusive de reproducere</strong> sau interzice utilizarea fonogramelor membrilor sai potrivit mandatului incredintat de acestia.
                            Titularii de drepturi pot autoriza sau interzice utilizarea operelor lor prin reproducere.</p>

                            <p>Prin “reproducere” se intelege realizarea integrala sau partiala a uneia sau mai multor copii ale unei inregistrari sonore, direct sau indirect, temporar sau permanent, prin orice mijloc si sub orice forma, precum si stocarea permanenta ori temporara a acesteia cu mijloace electronice.</p>


                            <p>Prin acordarea Licentei utilizatorul este autorizat sa reproduca in vederea comunicarii publice orice fonograma din repertoriul protejat de ADPFR si  are obligatia ca la sfirsitul perioadei de valabilitate a prezentei sa depuna o lista completa a fonogramelor reproduse</p>


                            <p>Obiectul licente neexclusive de reproducere este autorizarea reproducerii fonogramelor din repertoriul protejat al ADPFR, autorizare distincta de autorizarea pentru comunicare publica a fonogramelor.</p>


                            <p>Licenta neexclusiva de reproducere a fonogramelor, nu permite exploatarea altor drepturi ale producatorilor de fonograme care nu fac obiectul licentei.</p>


                            <p>Prelungirea Licentei neexclusive de reproducere se face in baza Declaratiei initiale si a eventualelor Notificari cu privire la modificarea datelor declarate, dupa confirmarea incasarii remuneratiei in conturile ADPFR, in termen de 10 zile lucratoare.</p>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>
    </body>
{% endblock %}